<!--footer-->

<footer id="footer" style="background-color: #EAEAEA">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span style="font-family:sans-serif;">AsistEscolar</span>
            </div>
            <div class="col-lg-12">
                <div class="newsletter">
                    <p>En AsistEscolar nos enfocamos en cumplir los requerimientos de instituciones educativas; públicas
                        y privadas, con diseños e implementación de sistemas; con interfaz amigable, y en el
                        establecimiento de un buen equipo y mecanismos para asistencia y soporte técnico de primera.
                        Nuestros sistemas son Autoadministrables y AutoConfigurables, brindan respuestas a
                        requerimientos de la Comunidad Educativa (estudiantes, representante, profesor, institución,
                        otros) rápidamente con solo un clic.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-details">
                    <h5 style="color:#888888">Corporativo</h5>
                    <ul class="contact">
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Asistescolar</a></p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Blog de
                                    Asistescolar</a></p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Trabaja
                                    con Nosotros</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-details">
                    <h5 style="color:#888888">Ventas</h5>
                    <ul class="contact">
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Informar
                                    Pago</a></p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i>
                                    Contactarse con Ventas</a></p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Planes y Precios</a>
                            </p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Solicite
                                    una Demostración</a></p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Alianzas
                                    Comerciales</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-details">
                    <h5 style="color:#888888">Soporte</h5>
                    <ul class="contact">
                        <li>
                            <p style="color:#888888"><i class="fa fa-mobile-alt"></i> +58 0416 6562698 / 5014354</p>
                        </li>
                        <li>
                            <p style="color:#888888"><i class="fa fa-phone"></i> +58 0251 4452591 / 4172183 / 4468684
                            </p>
                        </li>
                        <li>
                            <p><a href="#" style="color:#888888"><i class="fa fa-angle-right"></i> Preguntas
                                    Frecuentes</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h5 style="color:#888888">Contáctanos</h5>
                +58 0251 4452591<br>
                <!--<em>Chat con expertos vía Whatsapp:</em><br>-->
                <a href="https://api.whatsapp.com/send?phone=5804245900091" target="_blank"
                    style="color:#888888; text-decoration: none" ;="" data-toggle="popover" data-placement="top"
                    data-trigger="hover" data-content="Chat vía Whatsapp" data-original-title="" title=""><i
                        class="fab fa-whatsapp fa-lg" style="color:#7BBF6A"></i> Chat vía Whatsapp</a><br><br>
                <font style="color:#0088CC; font-weight: bold">B y C Computación, C.A.</font><br>
                RIF: J-30495950-8
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <a href="index.php" class="logo">
                        <img alt="logo" class="img-fluid" src="../../assets/img/logo_h.png">
                    </a>
                </div>
                <div class="col-lg-7">
                    <p>© 2019 AsistEscolar </p>
                </div>
                <div class="col-lg-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="#">Preguntas Frecuentes</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="contacto.php">Contáctanos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>