body {
  background-color: rgb(240, 240, 240) !important;
}

.agregar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 1rem;
  font-size: 1.17rem;
}

label {
  font-size: 1rem;
  margin-top: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
}

.form-control {
  font-size: 1rem;
}
